@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h4>Новое занятие</h4>
<div class="row">
    <div class="col-md-8">
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input type="date" asp-for="Date" class="form-control" asp-format="dd-mm-yyyy" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Разминка, техника, отработка</label>
                <textarea asp-for="Title" class="form-control" /></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="WarmUp" class="control-label">Связка</label>
                <textarea asp-for="WarmUp" class="form-control" /></textarea>
                <span asp-validation-for="WarmUp" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
        <hr />
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
