@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is my first app made with ASP.Net</h3>
    <p><a href="https://learn.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a></p>
</div>
